.DS_Store
ghostdriver.log
*.log
*.pyc
*.egg-info/
/dist
/build
/node_modules
/src/sentry
/src/sentry_plugins/*/static/*/dist
/src/sentry_plugins/assets.json
.cache/
coverage.xml
junit.xml
*.codestyle.xml
/.pytest_cache
/.vscode/tags
/.artifacts
