include setup.py src/sentry_plugins/assets.json README.rst MANIFEST.in LICENSE Makefile
recursive-include src/sentry_plugins *.html
recursive-include src/sentry_plugins *.js
recursive-include src/sentry_plugins *.jsx
recursive-include src/sentry_plugins *.css
recursive-include src/sentry_plugins *.js.gz
recursive-include src/sentry_plugins *.js.map
global-exclude *~
