{% extends "sentry_hipchat_ac/layout.html"  %}
{% load sentry_helpers %}
{% block body %}
  <script>
    function openEvent(id) {
      var token = $('meta[name="token"]').attr('value');
      var params = 'signed_request=' + encodeURIComponent(token) + '&event=' + id;
      document.location.search = params;
    }

    AP.register({
      "message.sentry.assign-event": function(message) {
        openEvent(message.metadata.event);
      }
    });

    {% if dismiss_dialog %}
      AP.require('dialog', function(dialog) {
        dialog.close();
      });
    {% endif %}

    // don't ask ...
    $(function() {
      $('#assignee-select').on('change', function(e) {
        $('#assigned-to-field').val(this.value);
      });
    });
  </script>
  {% if event %}
  <div class="aui-page-panel" style="margin-top: 0;">
    <div class="aui-page-panel-inner">
      <section class="aui-panel-inner-content" style="padding: 20px 0">

        <form class="aui" action="" method="post">
          {% csrf_token %}
          <input type=hidden name=assigned_to id="assigned-to-field">
          {% if assigned_to %}
            <div class="dialog-header buffer">
              <h3 class="assigned">Currently assigned: {{ assigned_to.user.get_display_name }}</h3>
              <button type="submit" class="aui-button unassign" name="deassign">Unassign</button>
            </div>
          {% endif %}
          <div class="field-group">
            <label for="assignee-select">Assign to user</label>
            <aui-select
              id="assignee-select"
              name="assignee"
              no-empty-value
              placeholder="Assign to user">
              {% for member in member_list %}
              <aui-option value="{{ member.id }}">{{ member.get_display_name }}</aui-option>
              {% endfor %}
            </aui-select>
            <button type="submit" class="aui-button aui-button-primary" name="assign">Assign</button>
          </div>
        </form>
      <section>
    </div>
  </div>
  {% endif %}
{% endblock %}
