{% extends "sentry_hipchat_ac/layout.html"  %}
{% load sentry_helpers %}
{% block body %}
  <script>
    function openEvent(id) {
      // navigate locally
      var token = $('meta[name="token"]').attr('value');
      document.location.href = '{% url "sentry-hipchat-ac-event-details" %}?signed_request=' + token + '&event=' + id + '&from_recent=yes';
      return false;
    }
  </script>
  <div class="aui-page-panel">
    <div class="aui-page-panel-inner">
      <section class="aui-page-panel-content">
        <ul class="event-list">
        {% if events %}
          {% for me in events %}
            <li class="event">
              <h4><a href="{{ me.group.get_absolute_url }}" onclick="return openEvent({{ me.event.id }})" target="_blank">{{ me.event.message }}</a></h4>
              <p class="culprit">{{ me.event.culprit }}
              <p class="meta"><strong>Project:</strong>
                <a target="_blank" href="{{ me.event.project.get_absolute_url }}">{{ me.event.project.name }}</a>
                <span class="divider"></span> {{ me.last_mentioned|date:"M d, Y" }} {{ me.last_mentioned|time:"H:i" }}
            </li>
          {% endfor %}
        {% else %}
          <li class="empty">No recent events</li>
        {% endif %}
        </ul>
      </section>
    </div>
  </div>
{% endblock %}
